In [120]:
import pandas as pd
df_GDP=pd.read_csv("GDP.csv")
df_DEFL=pd.read_csv("DEFL.csv")
df_WAGE=pd.read_csv("WAGE.csv")

In [121]:
# First of all, as i want to perform a 30 year analysis on the 3 datasets (30 years is the best period talking about consistency in these dataset), i need to drop and clean 
df_GDP

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.481857e+09,2.929447e+09,3.279344e+09,3.648573e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.421063e+10,2.496398e+10,2.707880e+10,3.177575e+10,3.028579e+10,3.381317e+10,...,8.982778e+11,8.289428e+11,9.729989e+11,1.012306e+12,1.009721e+12,9.333918e+11,1.085745e+12,1.191423e+12,1.245472e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426000e+10,1.449724e+10,1.723305e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.190495e+10,1.270788e+10,1.363076e+10,1.446909e+10,1.580376e+10,1.692109e+10,...,7.717669e+11,6.943610e+11,6.878492e+11,7.704950e+11,8.264838e+11,7.898017e+11,8.493124e+11,8.839739e+11,7.991060e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.043997e+11,8.482465e+10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.295848e+09,6.682677e+09,7.180765e+09,7.878760e+09,7.899738e+09,7.717145e+09,9.413404e+09,9.354903e+09,1.046822e+10,NaN
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,3.467098e+11,3.235855e+11,3.814488e+11,4.052607e+11,3.893300e+11,3.379747e+11,4.208869e+11,4.069200e+11,3.806993e+11,NaN
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,6.987397e+08,6.823597e+08,6.792797e+08,7.043397e+08,8.226397e+08,1.061200e+09,...,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.813776e+10,2.209642e+10,2.916378e+10,2.757796e+10,NaN
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.996312e+10,2.054868e+10,5.107466e+10,3.415607e+10,2.571741e+10,2.686794e+10,2.724052e+10,3.278975e+10,3.523137e+10,NaN

In [122]:
df_GDP=df_GDP.drop(columns=['Country Code', 'Indicator Name', 'Indicator Code', 'Unnamed: 68'])
df_GDP.set_index('Country Name', inplace=True)

In [123]:
df_GDP = df_GDP.loc[:, df_GDP.columns.astype(int) > 1993]
df_GDP

,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,1.245810e+09,1.320670e+09,1.379888e+09,1.531844e+09,1.665363e+09,1.722905e+09,1.873453e+09,1.896457e+09,1.961844e+09,2.044112e+09,...,2.790850e+09,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.481857e+09,2.929447e+09,3.279344e+09,3.648573e+09
Africa Eastern and Southern,2.435712e+11,2.734332e+11,2.735310e+11,2.883777e+11,2.688335e+11,2.654293e+11,2.872017e+11,2.609922e+11,2.678150e+11,3.557164e+11,...,9.787083e+11,8.982778e+11,8.289428e+11,9.729989e+11,1.012306e+12,1.009721e+12,9.333918e+11,1.085745e+12,1.191423e+12,1.245472e+12
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,3.521418e+09,2.813572e+09,3.825701e+09,4.520947e+09,...,2.049713e+10,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426000e+10,1.449724e+10,1.723305e+10
Africa Western and Central,1.347768e+11,2.071770e+11,2.626009e+11,2.757423e+11,2.961524e+11,1.394683e+11,1.421401e+11,1.500585e+11,1.793901e+11,2.077550e+11,...,8.974157e+11,7.717669e+11,6.943610e+11,6.878492e+11,7.704950e+11,8.264838e+11,7.898017e+11,8.493124e+11,8.839739e+11,7.991060e+11
Angola,4.438321e+09,5.538749e+09,7.526447e+09,7.648377e+09,6.506230e+09,6.152923e+09,9.129595e+09,8.936079e+09,1.528559e+10,1.781270e+10,...,1.359668e+11,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.043997e+11,8.482465e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.074395e+09,6.295848e+09,6.682677e+09,7.180765e+09,7.878760e+09,7.899738e+09,7.717145e+09,9.413404e+09,9.354903e+09,1.046822e+10
"Yemen, Rep.",2.801948e+10,1.279635e+10,6.496164e+09,6.838299e+09,6.322176e+09,7.639325e+09,9.679317e+09,9.852991e+09,1.069343e+10,1.177753e+10,...,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN
South Africa,1.535127e+11,1.717359e+11,1.632349e+11,1.689781e+11,1.529830e+11,1.515170e+11,1.517528e+11,1.354299e+11,1.290876e+11,1.970190e+11,...,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.052607e+11,3.893300e+11,3.379747e+11,4.208869e+11,4.069200e+11,3.806993e+11
Zambia,3.656808e+09,3.806983e+09,3.597221e+09,4.303288e+09,3.537742e+09,3.404285e+09,3.600632e+09,4.094441e+09,4.193850e+09,4.901870e+09,...,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.813776e+10,2.209642e+10,2.916378e+10,2.757796e+10
Zimbabwe,6.890675e+09,7.111271e+09,8.553147e+09,8.529572e+09,6.401968e+09,6.858013e+09,6.689958e+09,6.777385e+09,6.342116e+09,5.727592e+09,...,1.949552e+10,1.996312e+10,2.054868e+10,5.107466e+10,3.415607e+10,2.571741e+10,2.686794e+10,2.724052e+10,3.278975e+10,3.523137e+10

In [124]:
df_DEFL

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,6.831287,-1.002800,-3.178167,3.462030,6.017816,-0.951473,-4.912625,3.157279,6.709461,NaN
1,Africa Eastern and Southern,AFE,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,NaN,1.933947,0.596607,3.150053,3.726978,2.962826,...,5.636280,6.735158,6.286465,4.321759,4.444379,5.298132,6.222699,9.358767,7.801230,NaN
2,Afghanistan,AFG,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.447563,-2.197526,2.403656,2.071349,6.521480,6.962946,2.838996,9.406239,2.961654,NaN
3,Africa Western and Central,AFW,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,NaN,3.278446,2.485956,2.781479,3.381061,2.405026,...,1.911559,1.736323,1.759106,2.150339,1.956947,1.715558,4.642204,6.587123,3.386691,NaN
4,Angola,AGO,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-3.518385,21.774236,22.614514,28.167093,19.187004,10.763105,38.823722,13.710594,17.619538,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.607841,0.779254,0.440019,1.498919,0.962960,1.381107,6.115540,7.198711,4.563778,NaN
262,"Yemen, Rep.",YEM,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,46.476251,0.134411,18.553566,14.853665,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,NaN,1.552451,0.183995,3.003934,2.048646,3.002498,...,5.545528,6.952172,5.473322,3.993295,4.613525,5.391394,6.538691,4.992471,4.804271,NaN
264,Zambia,ZMB,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,NaN,-3.655832,2.091562,0.403600,4.083105,10.589055,...,6.659292,13.576101,10.072837,7.411571,7.633470,13.913871,25.142778,6.140318,7.094630,NaN
265,Zimbabwe,ZWE,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,NaN,-2.041300,0.469618,-2.347740,6.144012,2.704143,...,0.367420,2.014095,199.324941,3.554290,225.394648,604.945864,113.294981,266.987152,921.535652,NaN

In [125]:
df_DEFL=df_DEFL.drop(columns=['Country Code', 'Indicator Name', 'Indicator Code', 'Unnamed: 68'])
df_DEFL.set_index('Country Name', inplace=True)

In [126]:
df_DEFL = df_DEFL.loc[:, df_DEFL.columns.astype(int) > 1993]
df_DEFL

,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,6.287975,3.375837,3.259486,3.704238,6.592951,2.190061,1.036101,-2.835502,4.434688,3.049046,...,3.958897,6.831287,-1.002800,-3.178167,3.462030,6.017816,-0.951473,-4.912625,3.157279,6.709461
Africa Eastern and Southern,17.016415,16.102712,15.176180,10.545049,9.109173,8.006813,11.117306,8.312825,8.914928,7.806741,...,5.403535,5.636280,6.735158,6.286465,4.321759,4.444379,5.298132,6.222699,9.358767,7.801230
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-11.774536,6.125522,11.655238,...,0.566945,2.447563,-2.197526,2.403656,2.071349,6.521480,6.962946,2.838996,9.406239,2.961654
Africa Western and Central,24.794195,7.396921,6.186428,2.960139,5.309483,4.501097,4.815430,3.861795,2.673397,1.718822,...,0.731853,1.911559,1.736323,1.759106,2.150339,1.956947,1.715558,4.642204,6.587123,3.386691
Angola,2175.978955,1825.495149,4800.531644,95.453022,39.359348,557.501113,418.018992,106.352126,196.984099,93.926567,...,3.560885,-3.518385,21.774236,22.614514,28.167093,19.187004,10.763105,38.823722,13.710594,17.619538
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.601439,0.607841,0.779254,0.440019,1.498919,0.962960,1.381107,6.115540,7.198711,4.563778
"Yemen, Rep.",20.784364,45.743343,36.770088,13.290493,-8.342952,33.460905,23.346052,2.748200,8.711880,10.892343,...,7.163324,46.476251,0.134411,18.553566,14.853665,NaN,NaN,NaN,NaN,NaN
South Africa,9.812187,10.838319,8.022088,8.137433,8.075738,6.888834,9.182191,7.800475,12.537958,6.395764,...,5.366546,5.545528,6.952172,5.473322,3.993295,4.613525,5.391394,6.538691,4.992471,4.804271
Zambia,80.742199,30.611125,24.349260,25.402541,16.906873,17.923873,32.613871,25.331258,19.390923,17.607724,...,5.440525,6.659292,13.576101,10.072837,7.411571,7.633470,13.913871,25.142778,6.140318,7.094630
Zimbabwe,-3.895673,3.038538,8.984383,-2.879048,-27.048649,8.006813,0.627900,-0.130890,2.712950,8.801276,...,0.624974,0.367420,2.014095,199.324941,3.554290,225.394648,604.945864,113.294981,266.987152,921.535652

In [127]:
df_WAGE

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,27.022359,27.004653,27.037783,27.073529,26.942072,26.332991,26.129649,26.351179,25.542400,NaN
2,Afghanistan,AFG,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,14.715554,16.174625,17.359370,16.981230,16.458487,15.666045,17.731959,17.799165,18.283046,NaN
3,Africa Western and Central,AFW,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.583850,16.948387,17.419822,17.795623,18.113762,17.632530,17.890827,17.973804,18.129977,NaN
4,Angola,AGO,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,36.285822,36.050593,35.691925,35.375241,34.934865,34.465055,34.659669,34.753150,34.499260,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,48.895134,48.105599,47.095422,46.341777,45.881754,45.746040,46.107356,46.337967,46.196751,NaN
263,South Africa,ZAF,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.411702,84.884380,84.531361,84.427728,83.661120,83.277985,83.025820,83.060791,83.686605,NaN
264,Zambia,ZMB,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,26.593116,24.880777,23.240776,25.820599,25.615300,24.673900,26.659099,26.100679,26.196880,NaN
265,Zimbabwe,ZWE,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,25.037497,25.933947,27.341793,28.220997,29.080129,28.846376,28.790955,28.460033,28.507139,NaN

In [128]:
df_WAGE=df_WAGE.drop(columns=['Country Code', 'Indicator Name', 'Indicator Code', 'Unnamed: 68'])
df_WAGE.set_index('Country Name', inplace=True)

In [129]:
df_WAGE = df_WAGE.loc[:, df_WAGE.columns.astype(int) > 1993]
df_WAGE

,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Eastern and Southern,25.088644,24.749833,24.777679,24.812298,24.788420,24.777957,24.685757,24.557819,24.444337,24.336881,...,26.689363,27.022359,27.004653,27.037783,27.073529,26.942072,26.332991,26.129649,26.351179,25.542400
Afghanistan,7.060433,7.128912,7.173363,7.200676,7.225606,7.248247,7.295044,7.341581,7.328350,7.430200,...,13.525095,14.715554,16.174625,17.359370,16.981230,16.458487,15.666045,17.731959,17.799165,18.283046
Africa Western and Central,12.585389,12.660729,12.745371,12.874887,12.967792,13.121147,13.308523,13.478812,13.645659,13.824377,...,16.376979,16.583850,16.948387,17.419822,17.795623,18.113762,17.632530,17.890827,17.973804,18.129977
Angola,23.941511,23.676866,23.668963,23.559020,23.799414,24.589475,24.691221,24.607879,24.149725,24.361732,...,36.666104,36.285822,36.050593,35.691925,35.375241,34.934865,34.465055,34.659669,34.753150,34.499260
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Yemen, Rep.",48.899520,49.206491,49.580050,49.873420,49.901038,50.290255,50.973953,51.211387,51.440953,51.700581,...,50.491605,48.895134,48.105599,47.095422,46.341777,45.881754,45.746040,46.107356,46.337967,46.196751
South Africa,83.628669,83.558633,83.503589,83.418791,83.318282,83.251968,83.354705,82.870472,82.958289,83.037366,...,85.870777,85.411702,84.884380,84.531361,84.427728,83.661120,83.277985,83.025820,83.060791,83.686605
Zambia,19.837218,19.760924,19.657478,19.538137,19.391295,19.229816,18.299981,17.981049,17.707214,17.454857,...,24.766536,26.593116,24.880777,23.240776,25.820599,25.615300,24.673900,26.659099,26.100679,26.196880
Zimbabwe,29.081313,29.069462,29.152226,29.011638,28.926749,28.974722,28.803706,29.067805,28.655107,27.378188,...,24.083468,25.037497,25.933947,27.341793,28.220997,29.080129,28.846376,28.790955,28.460033,28.507139

In [130]:
#Good! Now that we have the same raws and columns for every dataframe, we need to check what is still NaN
df_GDP.isnull().sum()
df_GDP=df_GDP.dropna().copy()
df_DEFL=df_DEFL.dropna().copy()
df_WAGE=df_WAGE.dropna().copy()

In [131]:
common_index = df_GDP.index.intersection(df_WAGE.index).intersection(df_DEFL.index)

# DF filtering 
df_GDP_filtered = df_GDP.loc[common_index]
df_WAGE_filtered = df_WAGE.loc[common_index]
df_DEFL_filtered = df_DEFL.loc[common_index]

In [132]:
df_DEFL_filtered

,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Country Name,,,,,,,,,,,,,,,,,,,,,
Africa Eastern and Southern,17.016415,16.102712,15.176180,10.545049,9.109173,8.006813,11.117306,8.312825,8.914928,7.806741,...,5.403535,5.636280,6.735158,6.286465,4.321759,4.444379,5.298132,6.222699,9.358767,7.801230
Africa Western and Central,24.794195,7.396921,6.186428,2.960139,5.309483,4.501097,4.815430,3.861795,2.673397,1.718822,...,0.731853,1.911559,1.736323,1.759106,2.150339,1.956947,1.715558,4.642204,6.587123,3.386691
Angola,2175.978955,1825.495149,4800.531644,95.453022,39.359348,557.501113,418.018992,106.352126,196.984099,93.926567,...,3.560885,-3.518385,21.774236,22.614514,28.167093,19.187004,10.763105,38.823722,13.710594,17.619538
Albania,35.842475,9.970663,38.172058,11.239644,6.730860,2.102850,5.647471,3.810857,3.647476,5.198635,...,1.549917,0.563991,-0.632653,1.450732,2.966524,1.000591,0.041065,3.444399,9.861574,6.066049
Arab World,7.602452,7.767198,6.657558,2.757122,-3.131089,8.443377,11.459536,1.867700,3.770840,5.111829,...,1.048675,-2.114936,0.920590,4.825946,7.044671,2.366231,0.406043,12.720875,14.809806,0.854841
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
World,9.808158,8.675967,6.619638,4.456571,4.691928,4.339688,4.936808,3.941794,3.554213,3.974562,...,1.930914,2.292635,1.854087,2.970297,2.802492,2.394139,1.854593,4.624713,7.187122,4.758549
Samoa,68.227953,-6.975463,4.590051,11.836407,3.413641,1.126234,2.074899,3.366849,1.481352,2.547498,...,0.853113,3.964666,2.244757,0.304905,1.097583,1.499486,1.223609,-0.401253,5.638377,8.710884
South Africa,9.812187,10.838319,8.022088,8.137433,8.075738,6.888834,9.182191,7.800475,12.537958,6.395764,...,5.366546,5.545528,6.952172,5.473322,3.993295,4.613525,5.391394,6.538691,4.992471,4.804271
Zambia,80.742199,30.611125,24.349260,25.402541,16.906873,17.923873,32.613871,25.331258,19.390923,17.607724,...,5.440525,6.659292,13.576101,10.072837,7.411571,7.633470,13.913871,25.142778,6.140318,7.094630
Zimbabwe,-3.895673,3.038538,8.984383,-2.879048,-27.048649,8.006813,0.627900,-0.130890,2.712950,8.801276,...,0.624974,0.367420,2.014095,199.324941,3.554290,225.394648,604.945864,113.294981,266.987152,921.535652

In [133]:
df_GDP_filtered

,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Country Name,,,,,,,,,,,,,,,,,,,,,
Africa Eastern and Southern,2.435712e+11,2.734332e+11,2.735310e+11,2.883777e+11,2.688335e+11,2.654293e+11,2.872017e+11,2.609922e+11,2.678150e+11,3.557164e+11,...,9.787083e+11,8.982778e+11,8.289428e+11,9.729989e+11,1.012306e+12,1.009721e+12,9.333918e+11,1.085745e+12,1.191423e+12,1.245472e+12
Africa Western and Central,1.347768e+11,2.071770e+11,2.626009e+11,2.757423e+11,2.961524e+11,1.394683e+11,1.421401e+11,1.500585e+11,1.793901e+11,2.077550e+11,...,8.974157e+11,7.717669e+11,6.943610e+11,6.878492e+11,7.704950e+11,8.264838e+11,7.898017e+11,8.493124e+11,8.839739e+11,7.991060e+11
Angola,4.438321e+09,5.538749e+09,7.526447e+09,7.648377e+09,6.506230e+09,6.152923e+09,9.129595e+09,8.936079e+09,1.528559e+10,1.781270e+10,...,1.359668e+11,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.043997e+11,8.482465e+10
Albania,1.880951e+09,2.392765e+09,3.199641e+09,2.258514e+09,2.545965e+09,3.212122e+09,3.480355e+09,3.922101e+09,4.348068e+09,5.611496e+09,...,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.537951e+10,1.558511e+10,1.524146e+10,1.803201e+10,1.901724e+10,2.354718e+10
Arab World,4.998801e+11,5.284805e+11,5.709097e+11,6.145970e+11,5.987896e+11,6.654154e+11,7.634116e+11,7.447285e+11,7.466493e+11,8.300765e+11,...,2.905652e+12,2.544701e+12,2.500823e+12,2.572204e+12,2.867348e+12,2.899030e+12,2.562784e+12,2.969239e+12,3.609806e+12,3.512421e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
World,2.794190e+13,3.114968e+13,3.186690e+13,3.176081e+13,3.170268e+13,3.274709e+13,3.385585e+13,3.364606e+13,3.494017e+13,3.918176e+13,...,8.002034e+13,7.547247e+13,7.670255e+13,8.171204e+13,8.688484e+13,8.814985e+13,8.576301e+13,9.784830e+13,1.017709e+14,1.061717e+14
Samoa,2.210981e+08,2.248657e+08,2.499079e+08,2.854756e+08,2.694852e+08,2.554081e+08,2.588561e+08,2.662996e+08,2.817901e+08,3.334262e+08,...,7.966835e+08,8.241505e+08,8.439248e+08,8.848444e+08,8.784484e+08,9.129505e+08,8.688984e+08,8.439236e+08,8.329452e+08,9.381894e+08
South Africa,1.535127e+11,1.717359e+11,1.632349e+11,1.689781e+11,1.529830e+11,1.515170e+11,1.517528e+11,1.354299e+11,1.290876e+11,1.970190e+11,...,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.052607e+11,3.893300e+11,3.379747e+11,4.208869e+11,4.069200e+11,3.806993e+11
Zambia,3.656808e+09,3.806983e+09,3.597221e+09,4.303288e+09,3.537742e+09,3.404285e+09,3.600632e+09,4.094441e+09,4.193850e+09,4.901870e+09,...,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.813776e+10,2.209642e+10,2.916378e+10,2.757796e+10
Zimbabwe,6.890675e+09,7.111271e+09,8.553147e+09,8.529572e+09,6.401968e+09,6.858013e+09,6.689958e+09,6.777385e+09,6.342116e+09,5.727592e+09,...,1.949552e+10,1.996312e+10,2.054868e+10,5.107466e+10,3.415607e+10,2.571741e+10,2.686794e+10,2.724052e+10,3.278975e+10,3.523137e+10

In [134]:
df_WAGE_filtered

,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Country Name,,,,,,,,,,,,,,,,,,,,,
Africa Eastern and Southern,25.088644,24.749833,24.777679,24.812298,24.788420,24.777957,24.685757,24.557819,24.444337,24.336881,...,26.689363,27.022359,27.004653,27.037783,27.073529,26.942072,26.332991,26.129649,26.351179,25.542400
Africa Western and Central,12.585389,12.660729,12.745371,12.874887,12.967792,13.121147,13.308523,13.478812,13.645659,13.824377,...,16.376979,16.583850,16.948387,17.419822,17.795623,18.113762,17.632530,17.890827,17.973804,18.129977
Angola,23.941511,23.676866,23.668963,23.559020,23.799414,24.589475,24.691221,24.607879,24.149725,24.361732,...,36.666104,36.285822,36.050593,35.691925,35.375241,34.934865,34.465055,34.659669,34.753150,34.499260
Albania,32.910885,33.248463,33.102374,33.298913,33.631922,34.365473,35.202730,36.182732,37.136684,38.092114,...,42.073854,41.187580,41.395770,44.178428,44.519078,45.731760,46.294338,47.886453,47.039897,47.637256
Arab World,58.964465,59.211570,59.803599,60.364793,60.518131,61.162999,61.233942,61.923394,62.024092,61.878103,...,68.692793,69.702825,71.798745,71.579055,71.769491,71.979311,72.336903,72.186943,72.797882,74.548046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
World,44.316490,44.448435,44.654792,44.828976,44.839065,45.023965,45.265396,45.558327,45.792463,45.949829,...,51.071642,51.541116,51.960884,52.110534,52.301006,52.355292,51.845337,51.957161,51.881858,52.007737
Samoa,48.039900,47.942115,47.969394,48.002615,48.049052,48.125899,48.359379,48.655651,48.942820,49.239250,...,52.413061,52.805027,53.205395,53.560530,53.869519,54.354682,54.406498,54.850418,55.080595,55.344001
South Africa,83.628669,83.558633,83.503589,83.418791,83.318282,83.251968,83.354705,82.870472,82.958289,83.037366,...,85.870777,85.411702,84.884380,84.531361,84.427728,83.661120,83.277985,83.025820,83.060791,83.686605
Zambia,19.837218,19.760924,19.657478,19.538137,19.391295,19.229816,18.299981,17.981049,17.707214,17.454857,...,24.766536,26.593116,24.880777,23.240776,25.820599,25.615300,24.673900,26.659099,26.100679,26.196880
Zimbabwe,29.081313,29.069462,29.152226,29.011638,28.926749,28.974722,28.803706,29.067805,28.655107,27.378188,...,24.083468,25.037497,25.933947,27.341793,28.220997,29.080129,28.846376,28.790955,28.460033,28.507139