In [15]:
import pandas as pd
df_GDP=pd.read_csv("GDP.csv")
df_DEFL=pd.read_csv("DEFL.csv")
df_WAGE=pd.read_csv("WAGE.csv")

In [19]:
df_WAGE

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,27.022359,27.004653,27.037783,27.073529,26.942072,26.332991,26.129649,26.351179,25.542400,NaN
2,Afghanistan,AFG,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,14.715554,16.174625,17.359370,16.981230,16.458487,15.666045,17.731959,17.799165,18.283046,NaN
3,Africa Western and Central,AFW,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.583850,16.948387,17.419822,17.795623,18.113762,17.632530,17.890827,17.973804,18.129977,NaN
4,Angola,AGO,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,36.285822,36.050593,35.691925,35.375241,34.934865,34.465055,34.659669,34.753150,34.499260,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,48.895134,48.105599,47.095422,46.341777,45.881754,45.746040,46.107356,46.337967,46.196751,NaN
263,South Africa,ZAF,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.411702,84.884380,84.531361,84.427728,83.661120,83.277985,83.025820,83.060791,83.686605,NaN
264,Zambia,ZMB,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,26.593116,24.880777,23.240776,25.820599,25.615300,24.673900,26.659099,26.100679,26.196880,NaN
265,Zimbabwe,ZWE,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,25.037497,25.933947,27.341793,28.220997,29.080129,28.846376,28.790955,28.460033,28.507139,NaN